img.whos-that-pokemon {
  position: fixed;
  top: 2vw;
  left: 2vw;

  border-radius: 50%;
  width: 8vw;
  box-shadow: 0vw 0vw 5vw rgb(207, 235, 231);

  cursor: help;
}

h1.answer-correct {
  color: green;
}

h1.answer-not-correct {
  color: red;
}