div.pokemon-container {
  display: grid;
  justify-items: center;
}

img.whos-that-pokemon {
  margin-top: 6vh;
  border-radius: 50%;
  max-width: 128px;
  box-shadow: 0vw 0vw 5vw rgb(207, 235, 231);

  cursor: pointer;
}

h1.answer-correct {
  color: lightgreen;
}

h1.answer-not-correct {
  color: rgb(255, 22, 5);
}