div.pokemon-container {
  display: flex;
  justify-content: center;
}

img.whos-that-pokemon {
  position: fixed;
  top: 10px;
  left: 10px;

  border-radius: 50%;
  min-width: 100px;
  max-width: 15vw;
  box-shadow: 0vw 0vw 5vw rgb(207, 235, 231);

  cursor: help;
}

h1.answer-correct {
  color: lightgreen;
}

h1.answer-not-correct {
  color: rgb(255, 22, 5);
}