* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(65, 170, 186);
  color: rgb(207, 235, 231);
  text-align: center;
}

h1 {
  color: rgb(255, 203, 5);
  font-size: 48px;
}

h2 {
  color: rgb(255, 176, 0);
}

h3 {
  color: rgb(255, 101, 25);
}

h4 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 2px;
  text-align: left;
}