div.score-container {
  display: grid;
  grid-template: 
    "score-header score-header score-header"
    "correct . score-correct"
    "incorrect . score-incorrect"
    "revealed . score-revealed";

  border-radius: 4px;
  margin: 32px;
  text-align: center;
  justify-self: center;
    
  background-color: rgba(255, 255, 255, 0.1);
  width: 160px;
}

.score-header {
  grid-area: score-header;
}

.correct {
  grid-area: correct;
}

.incorrect {
  grid-area: incorrect;
}

.revealed {
  grid-area: revealed;
}

.score-correct {
  grid-area: score-correct;
  color: lightgreen;
}

.score-incorrect {
  grid-area: score-incorrect;
  color: lightpink;
}

.score-revealed {
  grid-area: score-revealed;
  color: lightyellow;
}